.header {
    padding: 110px 10px 40px 10px;

    @media(max-width: 640px) {
        h1.title {
            font-size: 1.6rem;
        }
    }

    h1 {
        text-align: center;
        font-size: 2.2rem;
        font-weight: 900;
        font-family: "Recoleta";
    }

    p {
        text-align: center;
        opacity: 0.8;
        font-size: 1.2rem;
        margin-top: 15px;
    }
}

.section-header {
    margin-left: 7.5%;

    @media(max-width: 1620px) {
        margin-left: 7%;
    }

    @media(max-width: 790px) {
        margin: 0;
        text-align: center;
    }
    
    .section-title {
        font-size: 1.4rem;
    }
}


.content {
    padding: 0 8%;

    @media(max-width: 1620px) {
        padding: 0 2%;
    }
}

.members {
    padding: 20px 0;
}

.meetings {
    padding-bottom: 80px;

    .meetings-grid {
        margin-top: 25px;
        display: grid;
        grid-template-columns: 24.25% 24.25% 24.25% 24.25%;
    }
}