.content {
    //max-width: 1400px;
    margin: 0 auto;
    padding: 80px 5%;
    //padding-left: 10%;

    @media(max-width: 1500px) {
        padding: 80px 1%;
    }

    h2.section-title {
        font-size: 1.4rem;
        padding-left: 120px;

        @media(max-width: 560px) {
            padding-left: 20px;
        }
    }

    .entity-group-card {
        margin-bottom: 10px;
        padding: 20px;
        background: lighten(#fffbf5, 1.5%);
        border-radius: 6px;
        min-height: 190px;
        box-shadow:
            0 0.3px 0.7px -8px rgba(0, 0, 0, 0.006),
            0 0.8px 1.5px -8px rgba(0, 0, 0, 0.009),
            0 1.3px 2.5px -8px rgba(0, 0, 0, 0.011),
            0 1.9px 3.7px -8px rgba(0, 0, 0, 0.013),
            0 2.8px 5.4px -8px rgba(0, 0, 0, 0.015),
            0 3.9px 7.6px -8px rgba(0, 0, 0, 0.017),
            0 5.5px 10.8px -8px rgba(0, 0, 0, 0.019),
            0 8px 15.7px -8px rgba(0, 0, 0, 0.021),
            0 12.4px 24.2px -8px rgba(0, 0, 0, 0.024),
            0 22px 43px -8px rgba(0, 0, 0, 0.03);
        transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 300ms box-shadow;

        h3 {
            font-size: 1.2rem;
            text-align: center;
            margin-top: 20px;
            padding: 0 10px;
        }
    }
}

.meta {
    padding: 121px 0 100px 15%;

    @media(max-width: 800px) {
        padding: 101px 0 40px 5%;
    }

    @media(max-width: 560px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 3.4rem;
        margin: 0 0 25px 0; 
        font-weight: 900;
        font-family: "Recoleta";

        @media(max-width: 800px) {
            font-size: 2.3rem;
            padding: 0 20px 0 0;
            margin: 0;
        }

        @media(max-width: 560px) {
            font-size: 1.8rem;
            margin: 30px 0;
        }
    }

    p {
        font-size: 1.4rem;
        max-width: 60%;
        opacity: 0.7;

        @media(max-width: 800px) {
            display: none;
        }
    }

    .tags {
        margin: 10px 0 20px 0;

        @media(max-width: 560px) {
            text-align: center;
        }

        span {
            background: #499fff;
            color: #fbfdff;
            padding: 5px 10px;
            border-radius: 100px;
            margin-right: 6px;

            svg {
                margin-bottom: 2px;
            }
        }
    }
}