.video-container {
    margin: 100px 0;
    padding: 20px 20%;

    // Plyr variables
    --plyr-color-main: #197aff;
    --plyr-font-smoothing: true;

    @media(max-width: 1480px) {
        padding: 0 10%;
    }

    @media(max-width: 840px) {
        padding: 0 5%;
    }

    @media(max-width: 500px) {
        padding: 0 3%;
    }

    h1 {
        font-weight: 900;
        margin-top: 40px;
        font-size: 2.3rem;
        font-family: "Recoleta";

        @media(max-width: 1480px) {
            font-size: 2rem;
        }

        @media(max-width: 840px) {
            font-size: 1.7rem;
        }

        @media(max-width: 500px) {
            font-size: 1.5rem;
        }
    }

    span {
        font-size: 1.2rem;
        opacity: 0.7;
    }



    a {
        color: #197aff;
        border-bottom: 1px solid #d1e5ff;
        text-decoration: none;
        
        &:hover {
            border-color: darken(#d1e5ff, 5%);
        }
    }
}