.video-container {
    margin: 100px 0;
    padding: 0 20%;

    @media(max-width: 1480px) {
        padding: 0 10%;
    }

    @media(max-width: 840px) {
        padding: 0 5%;
    }

    @media(max-width: 500px) {
        padding: 0 1%;
    }

    h1 {
        font-weight: 900;
        margin-top: 20px;
        font-size: 2.2rem;
    }

    span {
        font-size: 1.2rem;
        opacity: 0.7;
    }
    
    video {
        border-radius: 4px;
        margin-top: 20px
    }

    a {
        color: #197aff;
        border-bottom: 1px solid #d1e5ff;
        text-decoration: none;
        
        &:hover {
            border-color: darken(#d1e5ff, 5%);
        }
    }
}