.politician-header {
    $padding: 60px;
    padding: ($padding + 61.3px) 0 $padding 0;
    display: flex;
    align-items: center;

    @media(max-width: 680px) {
        flex-direction: column-reverse;

        .politician-meta {
            margin-bottom: 40px;

        }
    }

    .politician-image {
        min-width: 25vw;

        @media(max-width: 1200px) {
            min-width: 40vw;
        }

        @media(max-width: 680px) {
            min-width: 90vw;
        }
    }

    .politician-meta {
        // margin-left: 50px;
        text-align: center;
        flex-grow: 1;
        padding: 0 20px;

        .politician-name {
            font-weight: 900;
            font-size: 3.2rem;
            font-family: "Recoleta";

            @media(max-width: 920px) {
                font-size: 2rem;
            }
        }

        .politician-role {
            font-size: 1.4rem;
            opacity: 0.8;

            @media(max-width: 920px) {
                font-size: 1.2rem;
            }
        }
    }
}

$grid-gap: 8px;

.main-grid {
    display: flex;
    padding: 10px;
    justify-content: space-between;

    .main-grid-column {
        &:first-child {
            flex-basis: calc(66.6666% - #{$grid-gap});
        }

        &:nth-child(2) {
            flex-basis: calc(33.3333% - #{$grid-gap});
        }
    }

    @media(max-width: 1080px) {
        .main-grid-column {
            &:first-child {
                flex-basis: calc(50% - #{$grid-gap});
            }
    
            &:nth-child(2) {
                flex-basis: calc(50% - #{$grid-gap});
            }
        }
    }

    @media(max-width: 780px) {
        flex-direction: column-reverse;

        .main-grid-column {
            flex-basis: 100%;
        }
    }
}

.secondary-grid {
    display: flex;
    justify-content: space-between;

    .secondary-grid-column {
        &:first-child {
            flex-basis: calc(50% - #{$grid-gap});
        }

        &:nth-child(2) {
            flex-basis: calc(50% - #{$grid-gap});
        }
    }

    @media(max-width: 1080px) {
        flex-direction: column;
    }
}

.card {
    box-shadow:
        0 0.3px 0.7px -8px rgba(0, 0, 0, 0.006),
        0 0.8px 1.5px -8px rgba(0, 0, 0, 0.009),
        0 1.3px 2.5px -8px rgba(0, 0, 0, 0.011),
        0 1.9px 3.7px -8px rgba(0, 0, 0, 0.013),
        0 2.8px 5.4px -8px rgba(0, 0, 0, 0.015),
        0 3.9px 7.6px -8px rgba(0, 0, 0, 0.017),
        0 5.5px 10.8px -8px rgba(0, 0, 0, 0.019),
        0 8px 15.7px -8px rgba(0, 0, 0, 0.021),
        0 12.4px 24.2px -8px rgba(0, 0, 0, 0.024),
        0 22px 43px -8px rgba(0, 0, 0, 0.03);
    background: lighten(#fffbf5, 1.5%);
    padding: 24px 0;
    border-radius: 12px;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 300ms box-shadow;
    margin-bottom: 20px;
    z-index: 100;
    max-width: 600px;
    margin: 0 auto 20px auto;
    box-sizing: border-box;

    &:hover {
        box-shadow:
            0 0.3px 0.7px -8px rgba(0, 0, 0, 0.011),
            0 0.8px 1.5px -8px rgba(0, 0, 0, 0.016),
            0 1.3px 2.5px -8px rgba(0, 0, 0, 0.019),
            0 1.9px 3.7px -8px rgba(0, 0, 0, 0.022),
            0 2.8px 5.4px -8px rgba(0, 0, 0, 0.025),
            0 3.9px 7.6px -8px rgba(0, 0, 0, 0.028),
            0 5.5px 10.8px -8px rgba(0, 0, 0, 0.031),
            0 8px 15.7px -8px rgba(0, 0, 0, 0.034),
            0 12.4px 24.2px -8px rgba(0, 0, 0, 0.039),
            0 22px 43px -8px rgba(0, 0, 0, 0.05);

        a {
            color: #197aff;
            border-color: #d1e5ff;
        }
    }


    h2.card-title {
        font-size: 1.1rem;
        
    }

    a {
        color: #000;
        text-decoration: none;
        transition: all 100ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
        border-bottom: 1px solid transparent;

        @media(max-width: 760px) {
            color: #197aff !important;
            border-color: #d1e5ff !important;
        }

        &:hover {
            border-color: #95c2ff;
        }
    }

    &.no-membership {
        padding: 26px;
    }
}

.about {
    padding-bottom: 12px;

    h2.card-title {
        margin-left: 26px;
    }

    .facts {
        padding: 0 26px;

        .fact {
            padding: 14px 0;
            display: flex;
            justify-content: space-between;

            .fact-name {
                opacity: 0.8;
            }

            .fact-value {
                font-weight: 700;
            }
        }
    }
}

.education,
.cv {
    padding-bottom: 0;

    h2 {
        padding: 0 26px;
    }

    p.empty {
        padding: 26px;
        opacity: 0.8;
    }

    .entry {
        padding: 20px 26px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 200ms;

        &:last-child {
            border-bottom: 0;
        }

        &:hover {
            background: rgba(0, 0, 0, 0.02);
        }

        h3 {
            font-size: 1.3rem;
        }

        span {
            opacity: 0.7;
        }

        p {
            margin: 10px 0 0 0;
            font-weight: 500;
        }
    }
}

.party {
    grid-area: left;

    &.dark {
        color: #111;
        font-weight: 500;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            margin-top: 20px;
            font-size: 1.3rem;
        }
    }   
}

.political-group {
    padding-bottom: 0;
    grid-area: right;

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2.group-title {
            font-size: 1.4rem;
            margin-top: 20px;
            
        }

        .role {
            margin-bottom: 20px;
        }
    }

    .roles {
        margin-top: 12px;

        .group-name {
            margin-left: 26px;
            font-size: 1.15rem;
        }

        .role {
            padding: 16px 26px;
            border-top: 1px solid rgba(0, 0, 0, 0.05);

            &:nth-child(2) {
                border: 0;
            }
        }
    }
}